.env
Sprint 7/Unidad 1/18_Practica_Obligatoria_Univariante_SOL.ipynb
Sprint 7/Unidad 2/18_Practica_Obligatoria_Multivariante_SOL.ipynb
EDA_Entrega/data/heart.csv
EDA_Entrega/data/Not Good/Global Health Statistics.csv
EDA_Entrega/notebooks/__pycache__/Funciones.cpython-312.pyc
EDA_Entrega/notebooks/Notebook_EDA_1.ipynb
EDA_Entrega/notebooks/Funciones.py
EDA_Entrega/notebooks/Not Good/Notebook_EDA_1.ipynb
EDA_Entrega/notebooks/Not Good/Notebook_EDA_2.ipynb
EDA_Entrega/notebooks/Notebook_EDA_2.ipynb
Sprint 8/18_Practica_Obligatoria_Multivariante_SOL.ipynb
Sprint 8/18_Practica_Obligatoria_Visualizacion_Presentacion_SOL.ipynb
Sprint 8/Unidad 1/18_Practica_Obligatoria_Visualizacion_Basica_SOL.ipynb
Sprint 8/Unidad 2/18_Practica_Obligatoria_Visualizacion_Presentacion_SOL.ipynb
